@media screen and (max-width:950px){
   .reasons{
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
}

@media screen and (max-width:768px){
  .reasons{
     flex-direction: column;
     align-items: center;
     justify-content: center;
  }
  .left-r{
      grid-auto-rows:auto;
      overflow: hidden;
      grid-template-columns: repeat(2, 0fr);
  }  
  .left-r > :nth-child(1){
     width: 8rem;
     height: 18rem;
  }
  .left-r > :nth-child(2){
    width: 18rem;
    height: 10rem;
 }
 .left-r > :nth-child(3){
    width: 8rem;
    height: 7rem;
 }
 .left-r > :nth-child(4){
    width: 9rem;
    height: 7rem;
 }
}

@media screen and (max-width:454px){
   .reasons{
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
   .left-r > :nth-child(1){
      width: 4rem;
      height: 18rem;
   }
   .left-r > :nth-child(2){
     width: 13rem;
     height: 10rem;
  }
  .left-r > :nth-child(3){
     width: 6rem;
     height: 7rem;
  }
  .left-r > :nth-child(4){
     width: 6rem;
     height: 7rem;
  }
  .right-r > :nth-child(2) span{
    color:black;
    font-size: 2rem;
  }
  .detail-r > :nth-child(1) span{
      font-size: 0.7rem;
  }
  .detail-r > :nth-child(2) span{
      font-size: 0.7rem;
  }
  .detail-r > :nth-child(3) span{
      font-size: 0.7rem;
  }
  .detail-r > :nth-child(4) span{
      font-size: 0.7rem;
  }
}